<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DesktopClean.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesktopClean.Properties.Settings>
            <setting name="FilesToExclude" serializeAs="String">
                <value>*.lnk</value>
            </setting>
            <setting name="MoveToPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LeaveFor" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="AutoClean" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value/>
            </setting>
            <setting name="FileExplorer" serializeAs="String">
                <value/>
            </setting>
            <setting name="FirstTimeRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileExistsSetting" serializeAs="String">
                <value>0</value>
            </setting>
        </DesktopClean.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
